<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MartinezAI.WPFApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MartinezAI.WPFApp.Properties.Settings>
            <setting name="SavedUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIKey" serializeAs="String">
                <value>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</value>
            </setting>
            <setting name="MaxTMP" serializeAs="String">
                <value>30000</value>
            </setting>
        </MartinezAI.WPFApp.Properties.Settings>
    </userSettings>
</configuration>